<div class="container">
  <div class="text-center">
    {{#if showPleaseWaitInformation}}
      <h3>Please wait for news...</h3>
    {{else}}
      <h3><button class="btn btn-primary" {{action "fetchAllNews"}}>Click and fetch all news!</button></h3>
    {{/if}}
  </div>
  <table class="table-bordered">
    <tbody>
      {{#each sortedAllNews as |news index|}}
        <tr>
          <td>{{news.rank}}</td>
          <td><a href={{news.url}}>{{news.title}}({{show-domain-name news.url}})</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
