<h3><button {{action "fetchAllNews"}}>fetchAllNews</button></h3>
<table>
  <tbody>
    {{#each sortedAllNews as |news index|}}
      <tr>
        <td>{{news.rank}}</td>
        <td><a href={{news.url}}>{{news.title}}({{show-domain-name news.url}})</a></td>
      </tr>
    {{/each}}
  </tbody>
</table>
